.header-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

@media screen and ( width >= 768px ) {
    .header-wrapper {
        grid-template-columns: 1fr 2fr 1fr;
        row-gap: 20px;
    }
}
@media screen and ( width >= 1024px ) {
    .header-wrapper {
        grid-template-columns: 1fr 3fr 1fr;
        row-gap: 20px;
    }
}